<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" >
	
	<display-name>OIOSAML-J</display-name>
	<env-entry>
        <env-entry-name>oiosaml-j.home</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>oiosaml-config</env-entry-value>
    </env-entry>

	<listener>
		<listener-class>dk.itst.oiosaml.sp.service.session.SessionDestroyListener</listener-class>
	</listener>

        <listener>
                <listener-class>dk.itst.oiosaml.sp.service.session.SessionCopyListener</listener-class>
        </listener>

	<servlet>
		<servlet-name>SAMLDispatcherServlet</servlet-name>
		<servlet-class>
			dk.itst.oiosaml.sp.service.DispatcherServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>SAMLDispatcherServlet</servlet-name>
		<url-pattern>/saml/*</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>dk.itst.oiosaml.sp.service.SPFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/sp/*</url-pattern>
	</filter-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
