<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" >
    <display-name>OIOSAML3-Demo</display-name>

    <servlet>
        <servlet-name>DispatcherServlet</servlet-name>
        <servlet-class>
            dk.gov.oio.saml.servlet.DispatcherServlet
        </servlet-class>

        <init-param>
            <param-name>oiosaml.servlet.configurationfile</param-name>
            <param-value>oiosaml.properties</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>DispatcherServlet</servlet-name>
        <url-pattern>/saml/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>SameSiteFilter</filter-name>
        <filter-class>dk.gov.oio.saml.filter.SameSiteFilter</filter-class>
    </filter>

    <filter>
        <filter-name>SubstantialFilter</filter-name>
        <filter-class>dk.gov.oio.saml.filter.AuthenticatedFilter</filter-class>
        <init-param>
            <param-name>oiosaml.filter.nsis.required</param-name>
            <param-value>SUBSTANTIAL</param-value>
        </init-param>
        <init-param>
            <param-name>oiosaml.filter.ispassive.enabled</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>oiosaml.filter.forceauthn.enabled</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>NoNSISFilter</filter-name>
        <filter-class>dk.gov.oio.saml.filter.AuthenticatedFilter</filter-class>
        <init-param>
            <param-name>oiosaml.filter.ispassive.enabled</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>oiosaml.filter.forceauthn.enabled</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>
    
    <filter>
        <filter-name>LowFilter</filter-name>
        <filter-class>dk.gov.oio.saml.filter.AuthenticatedFilter</filter-class>
        <init-param>
            <param-name>oiosaml.filter.nsis.required</param-name>
            <param-value>LOW</param-value>
        </init-param>
        <init-param>
            <param-name>oiosaml.filter.ispassive.enabled</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>oiosaml.filter.forceauthn.enabled</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>

    <!-- should be placed BEFORE the AuthenticationFilter to ensure it catches any sessions created -->
    <filter-mapping>
        <filter-name>SameSiteFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>SubstantialFilter</filter-name>
        <url-pattern>/substantial/*</url-pattern>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>LowFilter</filter-name>
        <url-pattern>/low/*</url-pattern>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>NoNSISFilter</filter-name>
        <url-pattern>/nonsis/*</url-pattern>
    </filter-mapping>
</web-app>
