<script>
function toggleKeystore() {
	elem = document.getElementById('keystore');
	if(elem.disabled == true) {
		elem.disabled = false;
	} else {
		elem.disabled = true;
	}
}
</script>
<h1>Configure OIOSaml.java</h1>
<p>This page allows you to configure OIOSaml.java for your system. For security reasons, this configuration can be run
only once. If possible, the configuration files will be written automatically to '$home' (oiosaml-j.home).</p>

<form method="post" enctype="multipart/form-data" name="configure" id="configure">

<h3>Entity ID</h3>
<p><input type="text" name="entityId" value="$entityId" /></p>

<h3>Protocol locations:</h3>
<span class="emphasis">These are autodiscovered based on the url you've used for this page. Make sure you're using the official url.</span>
<table border="0">
<tr><td>Receive SAML Artifact response</td><td class="monospace">$artifactResponseUrl</td></tr>
<tr><td>Receive SAML POST response</td><td class="monospace">$postResponseUrl</td></tr>
<tr><td>Initiate single logout</td><td class="monospace">$logoutUrl</td></tr>
<tr><td>Receive single logout response</td><td class="monospace">$logoutResponseUrl</td></tr>
<tr><td>Receive single logout request</td><td class="monospace">$logoutRequestUrl</td></tr>
<tr><td>Receive SOAP single logout request</td><td class="monospace">$logoutSoapRequestUrl</td></tr>
<tr><td>Receive HTTP POST single logout request</td><td class="monospace">$logoutPostRequestUrl</td></tr>
</table>

#if ($error != "") 
	<div class="error">Error occurred</div>
	<div class="errorText">$error</div>
#end


	<fieldset><legend>Identity provider metadata</legend><label for="metadata">IdP metadata file</label><br />
	<input type="file" name="metadata" id="metadata" />
	</fieldset>
	
	<fieldset><legend>Configuration and metadata for this service provider</legend><label for="keystore">Keystore with private key for signing requests and responses. Either a pkcs12 file or a Java keystore.</label><br />
	<input type="file" name="keystore" id="keystore" />
	</p>
	
	<p><input type="checkbox" name="createkeystore" id="createkeystore" value="true" onChange="toggleKeystore();"/> &nbsp; <label for="createkeystore">Create new self-signed keystore? (only for testing, and only when not uploading a keystore above)</label>
	</p> 
	
	<table>
	<tr>
		<td><label for="keystorePassword">Keystore password</label></td>
		<td><input type="text" name="keystorePassword" id="keystorePassword" value="$!keystorePassword" />	</td>
	</tr>
	<tr>
		<td><label for="organisationName">Organisation Name</label></td>
		<td><input type="text" name="organisationName" id="organisationName" value="$!organisationName" /></td>
	</tr>
	<tr>
		<td><label for="organisationUrl">Organisation URL</label></td>
		<td><input type="text" name="organisationUrl" id="organisationUrl" value="$!organisationUrl" /></td>
	</tr>
	<tr>
		<td><label for="email">Technical contact email address</label></td>
		<td><input type="text" name="email" id="email" value="$!email" /></td>
	</tr>
	<tr>
		<td><label for="email">Technical contact phone number</label></td>
		<td><input type="text" name="phone" id="phone" value="$!phone" /></td>
	</tr>
	<tr>
		<td><label for="email">Technical contact given name</label></td>
		<td><input type="text" name="givenName" id="givenName" value="$!givenName" /></td>
	</tr>
	<tr>
		<td><label for="email">Technical contact surname</label></td>
		<td><input type="text" name="surName" id="surName" value="$!surName" /></td>
	</tr>
	<tr>
		<td><label for="enableArtifact">Enable Artifact consumer?</label></td>
		<td><input type="checkbox" name="enableArtifact" id="enableArtifact" value="true" /></td>
	</tr>
	<tr>
		<td><label for="enableRedirect">Enable Redirect consumer?</label></td>
		<td><input type="checkbox" name="enableRedirect" id="enableRedirect" value="true" /></td>
	</tr>
	<tr>
		<td><label for="enableSoap">Enable SOAP Single Logout?</label></td>
		<td><input type="checkbox" name="enableSoap" id="enableSoap" value="true" /></td>
	</tr>
    <tr>
        <td><label for="enablePostSLO">Enable POST Single Logout?</label></td>
        <td><input type="checkbox" name="enablePostSLO" id="enablePostSLO" value="true" /></td>
    </tr>
	<tr>
		<td><label for="supportOCESAttributeProfile">Support OCES Attribute Profile?</label></td>
		<td><input type="checkbox" name="supportOCESAttributeProfile" id="supportOCESAttributeProfile" value="true" /></td>
	</tr>
	<tr>
		<td><label for="enableEID">Enable EID compatibility?</label></td>
		<td><input type="checkbox" name="enableEID" id="enableEID" value="true" /></td>
	</tr>
	<tr>
		<td><label for="enableEID">Enable EID Natural Person attribute set?</label></td>
		<td><input type="checkbox" name="enableEIDNaturalPerson" id="enableEIDNaturalPerson" value="true" /></td>
	</tr>
	<tr>
		<td><label for="enableEID">Enable EID Legal Person attribute set?</label></td>
		<td><input type="checkbox" name="enableEIDLegalPerson" id="enableEIDLegalPerson" value="true" /></td>
	</tr>
	<tr>
		<td colspan="2">
		 Even if this is not checked, any attributes will be accepted, but
		no AttributeConsumer will be added to the SP metadata.
		</td>
	</tr>
	
</table>	
	
	
	</fieldset>
	<input type="submit" value="Configure system"/>
</form>